<template>
<div>
  <mdb-container>
    <mdb-row>
      <mdb-card reverse>
        <mdb-view hover cascade>
          <mdb-card-image src="https://i.imgur.com/Mx23jk2.jpg" alt="Card image cap"></mdb-card-image>
          <mdb-mask waves overlay="white-slight"></mdb-mask>
        </mdb-view>
        <mdb-card-body class="text-center" cascade>
          <mdb-card-title><strong>Welcome</strong></mdb-card-title>
           <hr>
           <br>
  <mdb-row>
    <mdb-col > 
<mdb-btn size="lg" color="primary" @click="user()"><mdb-icon icon="user" class="mr-1"/>User </mdb-btn>
 
        
    </mdb-col>
    <mdb-col  ><mdb-btn size="lg" color="primary" @click="admin()"><mdb-icon icon="user-tie" class="mr-1"/>Admin</mdb-btn></mdb-col>
  </mdb-row> 
        </mdb-card-body>
        
      </mdb-card>
    </mdb-row>
    
  </mdb-container>
  <br>
  <br>
  <br>
  </div>
</template>
<script>
          import { mdbContainer, mdbRow, mdbCol, mdbCard, mdbCardImage, mdbCardHeader, mdbCardBody, mdbCardTitle, mdbCardText, mdbCardFooter, mdbCardUp, mdbCardAvatar, mdbCardGroup, mdbBtn, mdbView, mdbMask, mdbIcon } from 'mdbvue';

          export default {
            name: 'CardProPage',
            components: {
              mdbContainer,
              mdbRow,
              mdbCol,
              mdbCard,
              mdbCardImage,
              mdbCardHeader,
              mdbCardBody,
              mdbCardTitle,
              mdbCardText,
              mdbCardFooter,
              mdbCardUp,
              mdbCardAvatar,
              mdbCardGroup,
              mdbBtn,
              mdbView,
              mdbMask,
              mdbIcon
            },
            methods: {
              admin() {
                this.$router.push({name: 'Adminlog'})
              },
              user() {
                this.$router.push({name: 'Login'})
              }
            }
          };
        </script>
        <style >
        #admin,#user{
            color:white;
        }
        </style>
        