<template>
    <div>
        <!--Navbar-->
<mdb-navbar class="indigo" dark>
  <!-- Navbar brand -->
  <mdb-navbar-brand href="https://mdbootstrap.com/">
 <router-link id="header" to="/"> AVCCS</router-link>
  </mdb-navbar-brand>
</mdb-navbar>
    </div>
</template>
<script>
import { mdbNavbar, mdbNavbarBrand } from 'mdbvue';

export default {
  name: 'AppPage',
  components: { 
    mdbNavbar,
    mdbNavbarBrand
  }
};
</script>

<style scoped>
#header {
  color: white; 
}
</style>
